* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0f0f;
}
img {
  width: 90px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  padding-top: 7px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bg-gray-icon {
  display: flex;
  align-items: center;
  padding: 8px;
}

.bg-gray-icon:hover {
  cursor: pointer;
  background-color: #343434b7;
  border-radius: 50px;
}
.search-container {
  display: flex;
  margin-left: 10px;
  gap: 10px;
}
.microphone-container svg {
  width: 25px;
  height: 25px;
  color: white;
}

.microphone-container {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}

.microphone-container:hover {
  background-color: grey;
  cursor: pointer;
}

.input-container {
  display: flex;
  border: solid white 2px;
  width: 600px;
  border-radius: 20px;
  border: solid 1px #303030;
}
.input-container input {
  width: 90%;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  color: whitesmoke;
  background-color: #121212;
  padding: 0 4px 0 16px;
  font-size: 16px;
}

.input-container input :focus {
  border: 1px solid #065fd4;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-photo {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}
.user-photo:hover {
  cursor: pointer;
}
.user-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.magnifiyng-container svg {
  width: 24px;
  height: 24px;
}
.magnifiyng-container {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;

  background-color: grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.magnifiyng-container:hover {
  cursor: pointer;
}
